<div class="container" >
  <div class="row" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header  bg-gradient-primary " >
          <span class="span card-title h4 text-white">Liste des actes de mariage</span>
        </div>
        <div class="row mt-4">
          <div class="col-md-1 mt-1" style="margin-left: 30px">
            <input type="text" placeholder="Rechercher" [(ngModel)]="mariageRch">
          </div>
          <div class="col-md-3 offset-7">
            <a href="" [routerLink]="['/home/mariage/declaration']" class="btn btn-success mb-2" style="color: white">
              <i class="fa fa-plus"> Nouvelle déclaration</i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive text-center">
            <table id="zero_config" class="table table-striped table-bordered">
              <thead class="h5">
              <tr>
                <th>Régistre</th>
                <th>Numéro</th>
                <th>Epoux</th>
                <th>Epouse</th>
                <th>Date mariage</th>
                <th>Lieu mariage</th>
                <th>déclaration</th>
                <th>Détails</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr><!-- | filter:-->
                <td>2021</td>
                <td>1</td>
                <td>Ibrahima Niang</td>
                <td>Sokhna Fall</td>
                <td>03/12/2021</td>
                <td>Bargny</td>
                <td>Normale</td>
                <td>
                  <a  class="btn btn-info"><i class="fa fa-eye"></i></a>
                </td>
                <td>
                  <a  class="btn btn-warning"><i class="fa fa-edit"></i></a>
                  <a href="#" class="btn btn-danger m-l-5"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>2021</td>
                <td>2</td>
                <td>Saliou Touré</td>
                <td>Oumou Ndoye</td>
                <td>31/12/2021</td>
                <td>Rufisque</td>
                <td>Normale</td>
                <td>
                  <a  class="btn btn-info"><i class="fa fa-eye"></i></a>
                </td>
                <td>
                  <a  class="btn btn-warning"><i class="fa fa-edit"></i></a>
                  <a href="#" class="btn btn-danger m-l-5"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>2022</td>
                <td>1</td>
                <td>Mouhamed Fall</td>
                <td>Coumba Diouf</td>
                <td>12/10/2022</td>
                <td>Bargny</td>
                <td>Normale</td>
                <td>
                  <a  class="btn btn-info"><i class="fa fa-eye"></i></a>
                </td>
                <td>
                  <a  class="btn btn-warning"><i class="fa fa-edit"></i></a>
                  <a href="#" class="btn btn-danger m-l-5"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
