<div class="row">
  <div class="col-md-2 h4" >
    <button [useExistingCss]="true" style="color: white" class="btn btn-success"  printSectionId="pdfbulletinnaissance" ngxPrint>
      <span class="h4"><i class="fa fa-print"> Imprimer</i></span>
    </button>
  </div>
</div>

<div class="container" style="border:2px solid" id="pdfbulletinnaissance">

  <div class="row " style="font-size: 20px">
    <div class="col-4 text-center">
      <div class="mt-4">
        <strong>REPUBLIQUE DU SENEGAL</strong>
        <h5>Un Peuple - Un But - Une Foi</h5>
      </div>
    </div>
    <div class="col-3 offset-5" style="font-size: 20px">
      <strong>REGION : </strong> Dakar<br>
      <strong>DEPARTEMENT : </strong> Rufisque<br>
      <strong>COMMUNE DE : </strong> Bargny<br>
    </div>

    <div class="text-center mt-5">
      <h1>BULLETIN DE NAISSANCE</h1>
    </div>
  </div>
  <div class="row" style="font-size: 20px">
    <div class="col-md-8 offset-2">
      <div class="mt-5">
        Le <strong>.......... {{enfant.declare.dateNaissance | date: ("dd/MM/yyyy")}}..........................................................................</strong> <br><br>
        Est né(e) à Bargny<strong>.......... {{enfant.declare.prenom }} {{enfant.declare.nom }}.............................................................</strong> <br><br>
        Fil(le) de <strong> .......... {{enfant.pereEnfant.prenom}} {{enfant.pereEnfant.nom }}........................................................................</strong> <br><br>
        Et de <strong>.......... {{enfant.mereEnfant.prenom}} {{enfant.mereEnfant.nom }} ..............................................................................</strong> <br><br>
        Délivré pour note à Bargny le <strong>.......... {{date | date: ("dd/MM/yyyy")}}........................................... </strong> <br><br>
      </div>
    </div>
  </div>
  <div class="row mb-5" style="font-size: 20px">
    <div class="col-md-4 offset-8 mt-5">
      <strong>L'Officier d'Etat-Civil</strong>
    </div>
  </div>
</div>
