<button [useExistingCss]="true"  printSectionId="imprimerCertificatMariage" ngxPrint class="btn-success">
  <i class="fa fa-print"> Imprimer</i>
</button>

<div class="container" id="imprimerCertificatMariage">
  <div class="row text-center mt-2">
    <div class="col-6 h4">
      <strong>REGION DE DAKAR</strong><br>
      <strong>DEPARTEMENT DE RUFISQUE</strong><br>
      <strong>COMMUNE DE BARGNY</strong><br>
      <strong>CENTRE D'ETAT CIVIL DE BARGNY</strong>
    </div>
    <div class="col-6">
      <div class="mt-3">
        <h4>REPUBLIQUE DU SENEGAL</h4>
        <strong>Un Peuple - Un But - Une Foi</strong>
      </div>
    </div>
  </div>

  <div class="row mt-5 text-center" style="font-size: 18px">
    <div class="col-12">
      <strong>Acte N° : </strong> 12 <br>
      <strong>Du registre de l'année : </strong> 2022
    </div>
  </div>
  <div class="row text-center mt-5">
    <h1>CERTIFICAT DE MARIAGE CONSTATE</h1>
  </div>

  <div class="row">
    <div class="col-11 mt-5 offset-1" style="font-size: 18px">
      Nous
      <strong> Moustapha Ndoye Ndoye Ndoye </strong>,
      Officier d'Etat-Civil du Centre de Bargny, <br> <br>

      Certifions que : <strong>Ibrahima Niang</strong>,<br>
      Né le <strong> trois decembre mille neuf cent quatre vingt dix neuf </strong> à
      <strong> Guinaw Rails Sud</strong> <br>
      Fils de Mame Bissane Niang et de Khar Camara. <br>
      Epouse <strong> Sokhna Khadidjatou Rassoul Seck, </strong> <br>
      Née le <strong>dix huit janvier mille neuf cent quatre vingt dix neuf </strong> à
      <strong> Rufisque </strong> <br>
      Fille de Mouhamed Niang et de Ndeye Coumba Bâ. <br>
      Ont contracté mariage entre eux selon la coutume le <strong> 25 Mai 2022 </strong> à
      <strong>Bargny</strong> <br>
      l'époux déclare opter pour la <strong> Polygamie</strong> <br>
      Les epoux ont convenu du versement d'une dot comprenant : <strong>20 000 </strong> Fcfa <br>
      Et déclare opter pour (régime matrimonial) : <strong>Biens communs</strong> <br> <br>

      En foi de quoi, nous avons délivré le présent, pour servir et valoir ce que de raison.<br>
    </div>
  </div>
  <div class="row mt-5" style="font-size: 18px">
    <div class="col-6"></div>
    <div class="col-6 text-center">
      Fait à Bargny le <strong> 03 / 12 / 2022 </strong><br>
      <u class="h4">Officier de l'Etat-Civil</u>
    </div>
  </div>
</div>




