<div class="container" >
  <div class="row" >
      <div class="card">
        <div class="card-header  bg-gradient-primary " >
          <span class="span card-title h4 text-white">Formation sanitaire</span>
        </div>

        <div class="card-body">
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-7">
                  <h2>Liste des formations sanitaires</h2>
                </div>
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="FormationSanitaire" placeholder="Rechercher">
                </div>
              </div>
              <mat-card>
                <mat-card-content>
                  <div class="table-responsive text-center">
                    <table id="zero_config" class="table table-striped table-bordered">
                      <thead class="h5">
                      <tr>
                        <th hidden>N°</th>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Type</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let f of allFormaSani  |filter:FormationSanitaire">
                        <td hidden>{{f.id}}</td>
                        <td>{{f.codeFormation}}</td>
                        <td>{{f.libelle}}</td>
                        <td>{{f.typeFormation}}</td>
                        <td>
                          <a  class="btn btn-warning"><i class="fa fa-edit"></i></a>
                          <a href="#" class="btn btn-danger m-l-5"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-6">
              <h2>Ajouter une formation sanitaire</h2>
              <mat-card>
                <form>
                <mat-card-content>
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Libellé</mat-label>
                      <input name="libelle" [(ngModel)]="newFs.libelle" matInput type="text" placeholder="Libellé" >
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Code</mat-label>
                      <input name="codeFormation" [(ngModel)]="newFs.codeFormation" matInput type="number" placeholder="Code" >
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Type de formation sanitaire</mat-label>
                      <mat-select placeholder="type" [(ngModel)]="newFs.typeFormation" name="typeFormation">
                        <mat-option value="CHR">CHR : centre hospitalier régional</mat-option>
                        <mat-option value="CH">CH : centre hospitalier</mat-option>
                        <mat-option value="SCD">SCD : soins de courte durée</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-card-content>
                <mat-card-footer>
                  <span class="m-lg-3"><button class="btn btn-success" (click)="add()">Ajouter</button></span>
                  <span class="m-lg-4"><button type="reset" class="btn btn-danger">Effacer</button></span>
                </mat-card-footer>
                </form>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
